<div class="container">
  <div class="row">
    <div
      class="
        col-12
        text-center
        mb-2
        d-flex
        align-items-center
        justify-content-between
      "
    >
      <label class="fs-4 fw-bold" i18n>Canción: {{ cancion?.titulo }}</label>
      <div>
        <button
          *ngIf="cancion && cancion?.pertenece"
          type="button"
          class="btn btn-outline-success"
          (click)="goToEdit()"
          i18n-title
          title="Editar canción"
        >
          <i class="bi bi-pencil-square"></i>
        </button>
        <button
          *ngIf="cancion && cancion?.pertenece"
          type="button"
          class="btn btn-outline-danger ms-1"
          (click)="eliminarCancion()"
          i18n-title
          title="Eliminar canción"
        >
          <i class="bi bi-trash-fill"></i>
        </button>
        <button
          *ngIf="
            cancion && cancion?.pertenece && cancion?.acceso?.llave == 'PRIVADO'
          "
          type="button"
          (click)="cambiarAccesoCancion()"
          class="btn btn-outline-secondary ms-1"
          title="Compartir cancion"
        >
          <i class="bi bi-share"></i>
        </button>
        <button
          *ngIf="
            cancion && cancion?.pertenece && cancion?.acceso?.llave == 'PUBLICO'
          "
          type="button"
          (click)="cambiarAccesoCancion()"
          class="btn btn-outline-secondary ms-1"
          title="Privatizar cancion"
        >
          <i class="bi bi-lock"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <p class="my-0">
            <span class="fw-bold" i18n>Duración: </span>
            <span class="text-capitalize">{{
              cancion | formatTimeCancionPipe
            }}</span>
          </p>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <p class="my-0">
            <span class="fw-bold" i18n>Intérpretes: </span>
            <span class="text-capitalize">{{ cancion?.interprete }}</span>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 mt-3 mb-2 ms-2">
      <h5 i18n>Álbumes</h5>
    </div>
    <div class="col-12">
      <table class="table table-hover table-bordered table-striped">
        <thead class="table-light">
          <tr>
            <th scope="col" class="text-center" i18n>Título</th>
            <th scope="col" class="text-center" i18n>Año</th>
            <th scope="col" class="text-center" i18n>Medio</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let album of cancion?.albumes">
            <td>{{ album.titulo }}</td>
            <td class="text-center">{{ album.anio }}</td>
            <td>{{ album?.medio?.llave }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <app-cancion-comments *ngIf="cancion && cancion?.acceso?.llave == 'PUBLICO'" [cancion]="cancion"></app-cancion-comments>
</div>
