<div class="row">
    <div class="col-12 mt-3 mb-2 ms-2">
        <h5 i18n>Comentarios Canciones</h5>
    </div>

    <div *ngFor="let comentario of cancion?.comentarios" class="d-flex flex-column comment-section card py-2 mb-2">
        <div class="bg-white p-2">
            <div class="d-flex flex-row user-info"><img class="rounded-circle" src="./assets/images/user_3.png" width="40">
                <div class="d-flex flex-column justify-content-start ms-2"><span class="d-block font-weight-bold name">{{comentario?.usuario}}</span><span class="date text-black-50">{{comentario?.created_at | date :'short' : 'GMT -5'}}</span></div>
            </div>
            <div class="mt-2">
                <p class="comment-text m-0">{{comentario?.texto}}</p>
            </div>
        </div>
    </div>

    <form action="" class="p-0" [formGroup]="cancionCommentForm" (ngSubmit)="createComentarioCancion(cancionCommentForm.value)">
        <div class="alert alert-danger my-3" *ngIf="cancionCommentForm.get('texto')?.hasError('required') && cancionCommentForm.get('texto')?.touched" i18n>
            No puede hacer un comentario en blanco.
        </div>
        <textarea class="w-100 px-2 form-control shadow-none textarea mb-2" formControlName="texto" id="" rows="3" maxlength="128" i18n-placeholder placeholder="Agrega un comentario"></textarea>
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary" [disabled]="!cancionCommentForm.valid" i18n>Comentar</button>
        </div>
    </form>
</div>
